<!-- Footer - Dev -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-center w-100">
    <h6 class="navbar-text mb-0">&copy; Copyright 2024. All rights reserved</h6>
  </nav>
</footer>
</body>
</html>
