<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container my-5">
  <h1 class="text-center mb-5">About Us</h1>

  <!-- First Team Member -->
  <div class="row mb-4">
    <div class="col-md-4 text-center">
      <img src="/Arvin_Image.PNG" alt="Arvin" class="img-fluid rounded-circle" style="max-width: 200px;">
    </div>
    <div class="col-md-8">
      <h3>Arvin Ziba</h3>
      <p>Hello there! This is Arvin Ziba - 100 876 028. I am a Network and IT Security Program student. I am in the 2024-2025 year 2nd Year Student. I am a avid programmer, I like Web Developing in my spare time and often focus on making a full stack site in my first go.
      For this Ticketing Web Application, I have devoted countless hours in making the best possible version.
      <br>
      <br>
      I have worked on the following for this Ticketing Web Application project:</p>
    </div>
  </div>
<br>
<br>
<br>

  <!-- Second Team Member -->
  <div class="row mb-4">
    <div class="col-md-4 text-center">
      <img src="/Dev_Image.PNG" alt="Dev" class="img-fluid rounded-circle" style="max-width: 200px;">
    </div>
    <div class="col-md-8">
      <h3>Dev Parmar</h3>
      <p>Hello there! This is Dev Parmar - 100 922 090. I am a Network and IT Security Program student. I am in the 2024-2025 year 2nd Year Student. I am interested in numerous concepts of IT security that can benefit the future of the tech industry for years to come.
      For this Ticketing Web Application, I have spent time finding ways I can polish the site.
      <br>
      <br>
      I have worked on the following for this project:</p>
    </div>
  </div>
<br>
<br>
<br>


  <!-- Third Team Member -->
  <div class="row mb-4">
    <div class="col-md-4 text-center">
      <img src="/Carson_Image.PNG" alt="Carson" class="img-fluid rounded-circle" style="max-width: 200px;">
    </div>
    <div class="col-md-8">
      <h3>Carson Black</h3>
      <p>Hello there! This is Carson Black - 100 942 111. I am a Network and IT Security Program student. I am in the 2024-2025 year 2nd Year Student. I am interested in the future's of social media algorithm's and how they affect the past and present generations and their interactions with technology.
      For this Ticketing Web Application, I made sure the site does function and do what it is meant to do when done so.
      <br>
      <br>
      I have worked on the following for this project:</p>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
</div>

<%- include('partials/footer.ejs') %>
